
$bg_black_40 : rgb(41, 35, 35);
$bg_black_60 : rgba(60, 60, 60, 1);
$bg_black_80 : rgba(80, 80, 80, 1);

$white_200 : rgba(200, 200, 200,1 );
$white_220 : rgba(220, 220, 220,1 );
$white_240 : rgba(240, 240, 240,1 );